<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: black; color: white">
    <p>
      <u><b>Register</b></u>
    </p>
    <form action="/simpanregister" method="post">
      <table>
        <tr>
          <td>NIK</td>
          <td><input type="number" placeholder="Masukkan NIK" name="nik" /></td>
        </tr>
        <tr>
          <td>NAMA</td>
          <td><input type="text" placeholder="Masukkan Nama" name="nama" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Daftar" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
